.navbar-toggler{
    color: white !important;
    background-color:white !important;
}
.navbar{
    display:flex;
    justify-content:space-between !important;

}
.navbar-brand{
    margin-left:80px;
    margin-top:20px;
}
.active{
    color:aqua !important;
}
.nav-item:hover{
    display:inline-block;
    width:100%;
    transform:scaley(0.9);
    color:aquamarine;
}
.sign-in{
    color:white;
    background-color:greenyellow;
    border:none;
    font-weight:bold;
    border-radius: 8px;
    margin-right:50px;

}
.cart-list{
    text-align:right;
    margin:20px;
}
#home{
    margin-top:80px;
}
.welcome-page{
    background:url("./images/hero4.png");
    background-size:cover;
    object-fit: cover;
    width:100vw;
    height:230px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding-left:50px;
    margin-top:2px;
    margin-bottom:10px;
}
.content h2{
    font-size:25px;
    margin:0px;
    padding:0px;
}
.content h1{
    margin:0;
    color:rgb(42, 178, 81);
    font-size:27px;
}
.content .trade{
    font-size:15px;
    font-weight:bold;
    color:rgb(77, 74, 74);
    margin:0px;
}
.content p{
    margin-top:5px;
    font-size:13px;
    color:gray;
}

.welcome-page .button{
    text-align:center;
    padding:5px 30px;
    background-image:url("./images/button.png");
    background-size:cover;
    width:200px;
    text-decoration: none;
    color:rgb(42,178,81);
}
.content a{ 
    font-size:10px;
    color:rgb(42,178,90);
    font-weight:bold;
}

.feacture{
    padding:10px;
    border:2px double rgb(237, 247, 251);
    align-items:center;
    flex-wrap:wrap;
    width:100%;
}
.feacture h1{
    font-size:10px;
    padding:5px 0;
}
.feacture img{
    width:100px;
    height:100px;
}
.feacture-product-section{
    margin-top:40px;
    padding:10px;
}
.feacture-heading{
    font-size:20px;
    text-align:center;
}
.feacture-paragraph{
    font-size:15px;
    color:rgb(83, 81, 81);
    text-align:center;
}
.products-section{
    display:flex;
    width:100vw;
    overflow: scroll;
    
}
.product-container{
    display:flex;
    flex-direction:column;
    border:2px solid rgb(174, 173, 173);
    border-radius:20px;
    width:220px;
}
.product-container:hover{
    box-shadow:0 0 3px black;
}
.product-discription{
    margin:10px;
}
.product-discription p{
    margin:0px;
}
.product-discription h4{
    font-size:20px;
    padding:0;
    margin-bottom:0;
}
.rating{
    display:flex;
}
.star{
    align-self:center;
    height:20px;
    width:20px; 
}
.cart{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:radial-gradient(white,aqua);
    height:40px;
    width:40px;
    border-radius:50%;
}
.cart:hover{
    box-shadow:0px 0px 10px aqua;
}
.product{
    margin-top:10px;
    height:200px;
    width:200px;
    background-size:cover;
    border-radius:20px;
    align-self: center;
}
.product:hover{
    box-shadow:0 0 2px gray;
}
.price{
    font-weight:bold;
    color:rgb(10, 175, 120);
}

.banner{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-image:url("./images/banners/b2.jpg");
    width:100vw;
    height:90px;
    background-size:cover;
    color:white;
}
.banner p{
    font-size:8px;
    margin-bottom:1px;
}
.banner h1{
    display:inline;
    font-size:15px; 
}
.banner button{
    font-size:10px;
    background-color:aliceblue;
    border:none;
    padding:3px;
    border-radius:4px;
    text-align:center;
}
.banner-1-section{
    display:flex;
}
.banner-1{
    background-image:url("./images/banners/b17.jpg");
}
.banner-1 button{
    background-color:transparent;
    border:1px solid white;
    color:white;
    width:50px;
    font-size:6px;
}
.banner-2{
    background-image:url("./images/banners/b10.jpg");
}
.banner-2 button{
    background-color:rgb(4, 101, 70);
    border:none;
    color:white;
    width:40px;
    font-size:6px;
}
.banner-1-2{
    width:200px;
    height:100px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-size:cover;
    object-fit:cover;
    color:white;
}
.banner-1-2 p{
    font-size:8px;
    width:100px;
    margin-bottom:0;
    color:rgb(249, 235, 235);
}
.banner-1-2 h1{
    font-size:12px;
    font-weight:bold;
    margin-bottom:1px;
}
.banner-1-1-section{
    display:flex;
}
.banner-1-1{
    text-align:center;
    margin-right:8px;
}
.banner-1-1-a{
    background-image:url("./images/banners/b7.jpg");
}
.banner-1-1-b{
    background-image:url("./images/banners/b4.jpg");
}
.banner-1-1-c{
    background-image:url("./images/banners/b18.jpg");
}

.banner-1-1 h1{
    font-size:10px;
    font-weight: bold;
}

footer{
    margin-top:30px;
    color:white;
    background-color:black;
    padding:10px;
}
footer h1{
    font-size:22px;
}
footer span{
    font-weight:bold;
    font-size:14px;
}
.Follow-Us{
    display:flex;
    flex-direction:column;
    align-items:center;
}

footer p{
    margin:0px;
} 
.payment-type{
    height:20px;
    width:60px;
}

ul{
    list-style-type: none;
}


@media (min-width:729px){
    .welcome-page{
        margin-top:40px;
        height:400px;
        width:100vw;
    }
    .welcome-page .button{
        text-decoration: none;
    }
    .content .p1{
        font-size:20px;
    }
    .content h1{
        font-size:30px;
    }
    .content p{
        font-size:15px;
    }
    .banner{
        height:140px;
    }
    .banner p{
        font-size:15px;
    }
    .banner h1{
        font-size:20px;
    }
    .banner button{
        border:none;
        padding:6px;
        transition:all 0.5s ease-in;
    }
    .banner button:hover{
        transform:scale(1.1);
    }
    .banner-1{
        width:100%;
        height:200px;
    }
    .banner-2{
        width:100%;
        height:200px;
    }
    .banner-1-1-a{
        width:100%;
        height:180px;
    }
    .banner-1-1-b{
        width:100%;
        height:180px;
    }
    .banner-1-1-c{
        width:100%;
        height:180px;
    }
}
